    body {
      margin: 0;
      padding: 0;
    }
    iframe {
      width: 100% !important;
      height: 98% !important;
    }
    .defaults {
      margin: 0;
      padding: 0 0 0 5px;
    }
    .theme-a {
      background: #fff;
    }
    .cred {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      padding: 5px;
      font-size: 12px;
      color: #fff;
      background-color: #131314;
    }
    .cred a {
        color: pink
    }
    @media (prefers-color-scheme: dark) {
      .theme-a.adaptive {
        background: #131314;
        color: #fff;
      }
    }